<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>WorrySome.com</title>
<!-- Andy Clarke (http://www.stuffandnonsense.co.uk)
Molly E. Holzschlag (http://www.molly.com) -->
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="../css/step_02.css" />
</head>

<body id="worrysome-com" class="index">
<div id="container">

<div id="branding">
<h1><a href="/" title="WorrySome.com home page">WorrySome.com</a></h1>

<blockquote>Don' worry 'bout a thing, 'cos every little thing's gonna to be all right! Bob Marley</blockquote>
<p>A demonstration site by Andy Clarke.</p>
</div>

<div id="content">

<div id="content_main">

<div id="nav_current">
<h2 id="fir_1">Taking the weight of the world off your shoulders!</h2>
<ul>
<li id="nc_1" title="Baldness only &#36;10pcm"><a href="#">Baldness only <em>&#36;10 <abbr title="per calendar month">pcm</abbr></em></a></li>
<li id="nc_2" title="CSS bugs only &#36;8pcm"><a href="#">CSS bugs only <em>&#36;8 <abbr title="per calendar month">pcm</abbr></em></a></li>
<li id="nc_3" title="Cellulite only &#36;5pcm"><a href="#">Cellulite only <em>&#36;5 <abbr title="per calendar month">pcm</abbr></em></a></li>
</ul>
<p>per calendar month</p>
</div>

<h3 id="fir_2">Our panel of expert worriers</h3>
<ul id="nav_experts">
<li id="ne_1" title="Molly"><a href="#">Molly</a></li>
<li id="ne_2" title="Andy"><a href="#">Andy</a></li>
<li id="ne_3" title="Lynda"><a href="#">Lynda</a></li>
</ul>

<p>Whether it be losing your girlfriend, losing your stash or losing your hair, we all have our problems to worry about. Worrying causes stress, and stress is bad news. Worrying can raise your blood pressure, stop you sleeping and even affect your sex life. It's easy for others to say <q>Hey dude, don't worry about it</q> but it's not always that simple. Now there is a real solution for all your worries; get one of our WorrySome expert worriers to worry about your problems for you. It won't solve your problems, but you could feel a whole lot better.</p>

<h3 id="fir_3">Recently worried about</h3>
<p>Our worriers worry about many different types of worry for our customers, some many seem trivial, others really heavy. Here's a list of worries we have had on our minds recently.</p>

<ul id="nav_recent">
<li><a href="#">Cellulite</a></li>
<li><a href="#">Conspiracies</a></li>
<li><a href="#">Driving test</a></li>
<li><a href="#">Dancing</a></li>
<li><a href="#">End of the world</a></li>
<li><a href="#">Flying</a></li>
<li><a href="#">Homework</a></li>
<li><a href="#">Public speaking</a></li>
<li><a href="#">Spiders</a></li>
<li><a href="#">Too fat</a></li>
<li><a href="#">Too thin</a></li>
<li><a href="#">World peace</a></li>
</ul>
</div>

<div id="content_sub">
<h3 id="fir_4">Worry search</h3>
<form id="search_input" method="post" action="">
<label for="search"><span>What's your worry</span>
<input id="search" name="search" value=" chunky thighs" /></label>
<input type="submit" id="submit" name="submit" value="Search!" />
<p><a href="#">Search tips</a> | <a href="#">Top worries</a></p>
</form>

<h3 id="fir_5">Choose a worry</h3>
<ul>
<li><a href="#">Future</a></li>
<li><a href="#">Health</a></li>
<li><a href="#">Life</a></li>
<li><a href="#">Money</a></li>
<li><a href="#">Personal</a></li>
<li><a href="#">Phobias</a></li>
</ul>

<h3 id="fir_6">Your worries</h3>
<ol>
<li><a href="#">Baldness</a></li>
<li><a href="#">Job interview</a></li>
<li><a href="#">Middle-age spread</a></li>
<li><a href="#">Responsibility</a></li>
<li><a href="#">Too fat</a></li>
<li><a href="#">World peace</a></li>
</ol>
</div>

</div>

<ul id="nav_main">
<li id="nm_1" title="Subscribe"><a href="#">Subscribe</a></li>
<li id="nm_2" title="Worry List"><a href="#">Worry List</a></li>
<li id="nm_3" title="Worry Cart"><a href="#">Worry Cart</a></li>
</ul>

<div id="site_info">
<p id="si_1"><a href="http://www.stuffandnonsense.co.uk">Site design. Copyright 2006. All Rights Reserved.</a></p>
<p id="si_2"><a href="#worrysome-com" title="Top of this page">Top</a></p>
</div>

</div>
</body>
</html>